/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 1500px;
}
#activities header {
    background: no-repeat lightgrey url(images/runfly.jpg);
    background-size: 1500px;
}
#contact header {
    background: no-repeat lightgrey url(images/cliff_rock.jpg);
    background-size: 1500px;
}
#cliffs header {
    background: no-repeat lightgray url(images/forest_cliff.jpg);
    background-size: 1500px;
}   
.main-header {
    background-color:rgb(255, 255, 255, 0.8);
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu {
    margin-left: 226px;
    font-weight: 400px;
}
.main-menu ul li {
    list-style-type: none;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li {
    display: inline-block;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 100px 0 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
main h1 {
    color: #9ed034;
    margin-bottom: 50px;
}
section {
    width: 100%;
    background-color: #4288c3;
}
section #partners {
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}
.container1 {
    display: inline-block;
    margin-left: 60px;
}
.box {
    max-width: 40%;
    float: left;
    margin: 2%;
}
.box p {
    background-color: brown;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-weight: bold;
}
.box img {
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em, 3.5em, 3.5em, 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption {
    background: #852B1B;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: #BDE1FF;
}
tbody {
    background: #EEFFE6;
    text-align: center;
}
th,td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852B1B;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977D1;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background: #BDE1FF;
}

.highlight {
    background-color: #9ed034; /* Yellow shade for highlighting */
    color: #fff;
    font-weight: bold;
}
.not-available {
    cursor: not-allowed;
}

td:not(.not-available):hover {
    cursor: pointer;
}


/* Contact */
p {
    margin-bottom: 30px;
}
.phone span:first-child {
    font-weight: bold;
}
.email span:first-child {
    font-weight: bold;
}
.email {
    margin-top: 10px;
}
fieldset {
    font-weight: bold;
    margin-top: 10px;
    border: solid 2px #9ed034;
}
fieldset div {
    margin-left: 30px;
}
legend {
    color: #4977D1;
    text-transform: uppercase;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
.textbox input {
    width: 600px;
    height: 30px;
}
.radios {
    margin-top: 15px;
    font-weight: normal;
}
.radios label {
    display: inline;
    font-weight: bold;
}
.radios input {
    height: 15px;
}
.selectmenu {
    margin-top: 20px;
}
.selectmenu label {
    display: inline;
}
.selectmenu select {
    width: 150px;
    text-align: center;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 600px;
    height: 240px;
}
form .button input {
    display: block;
    margin: 15px 0 10px 0;
    width: 150px;
    margin-left: 455px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    /*background-color: #4977D1;*/
    height: 40px;
    /*border: solid #4977D1;*/
    font-size: large;
}



.randomcode input[type="text"],
.randomcode p {
    display: inline;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    font-weight: normal;
}
.randomcode input {
    height: 30px;
    
}
.randomcode p {
    background-color: #aeadad; /* Gives a light grey background similar to disabled input */
}
#codes {
    height: 40px;
}


/* Local time Javacript */

.local-time {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( rgba(118,213,245,1) 0%, rgba(251,215,139,1) 100%);
    padding-bottom: 25px;
    padding-top: 20px;
    display: inline-block;
}
.time {
    color: #3a3a3a;
    display: inline-block;
    
}
.time2 {
    color: #125688;
    display: inline-block;
}